<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7hNZd-yJnsgFa4wsY9vIebKIEDWIbzIc</string>
	<key>GCM_SENDER_ID</key>
	<string>885900996493</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.toaster210.grouphealthtracker</string>
	<key>PROJECT_ID</key>
	<string>group-health-tracker</string>
	<key>STORAGE_BUCKET</key>
	<string>group-health-tracker.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885900996493:ios:791de4e8262969379017c4</string>
	<key>DATABASE_URL</key>
	<string>https://group-health-tracker-default-rtdb.firebaseio.com</string>
</dict>
</plist>